<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-inverse bg-warning fixed-top">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="navbar-brand" [routerLink]="['']">Angular Webpack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['world']">Worlds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']">About</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
